<div class="card mb-3">
    <div class="card-header">Va kiek mes visko pridarem</div>
    <div class="card-body">
        <div class="mb-3">

            Pasigrozekit kiek visko nudirbom
            <ul>
                <li>
                    Gipso primontavom 
                </li>
                <li>
                    Priglaistem daug sienu
                </li>
                <li>
                    Instaliavom elektra. Karta vos nenutrenke
                </li>
                <li>
                    Darem santechnika, uzliejom kaimynus
                </li>
                <li>
                    Plyteles klijavom. Gavosi bishki kreivai
                </li>

                Klientai baisiai patenkinti

            </ul>
 

        </div>
        
    </div>
</div>
