<div class="card mb-3">
    <div class="card-header">Imones teikiamos paslaugos</div>
    <div class="card-body">
        <div class="mb-3">

            Atliekame šiuos vidaus įrengimo darbus:
            <ul>
                <li>
                    Gipso montavimas
                </li>
                <li>
                    Glaistymas, dažymas
                </li>
                <li>
                    Elektros instaliacijos montavimas
                </li>
                <li>
                    Vamzdynų ir santechnikos montavimas
                </li>
                <li>
                    Plytelių klijavimas
                </li>

                ir kruva kitu nesamoniu

            </ul>
 

        </div>
        
    </div>
</div>
