<div class="card mb-3">
    <div class="card-header">Informacija apie imone</div>
    <div class="card-body">
        <div class="mb-3">
            Įmonės pagrindinė veikla - konsultavimas ES, nacionalinės ir kitos paramos gavimo klausimais. Įmonėje dirba didelę patirtį turintys specialistai. Įsigiliname į kiekvieno kliento specifiką ir poreikius, siūlome lanksčius sprendimus. Visų pirma siekiame kokybės ir ilgalaikio bendradarbiavimo.

Sėkmės sprendimų klientai - efektyvios ir novatoriškos verslo įmonės bei teigiamus pokyčius visuomenėje skatinančios NVO sektoriaus organizacijos. Padedame atrasti sinergiją tarp įvairiausių sričių, žinias ir patirtį naudoti kūrybiškai bei inovatyviai, o į veiklą žvelgti plačiai bei strategiškai.

Nuo 2017 metų kovo esame didžiausios pasaulyje ryšių plėtros ir rekomendacijų organizacijos BNI Lietuvos filialo nariai. Priklausome BNI Amber skyriui. 

Ne vienerius metus pristatome ES ir kitos paramos galimybes stambiausiame aplinkosaugai skirtame renginyje Lietuvoje - Atliekų tvarkymo forumas. Kaip pranešėjai dalyvaujame seminaruose ir konferencijose.

Kreipkitės į mus - padėsime identifikuoti jums naudingiausias paramos galimybes; sudarysime kalendorinį planą, kokia parama jums tikslingiausia naudotis; parengsime paraiškas, verslo planus ir kitus doku
        </div>
        
    </div>
</div>
