<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="" routerLinkActive="active" [routerLinkActiveOptions]={exact:true}><img src="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/cool-letter-s-logo-design-template-9b68481a664573bf31bb753de4511ae0_screen.jpg?ts=1598870354" width="50px">
      </a>
  
  
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/apie-imone" routerLinkActive="active">Apie imone</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/teikiamos-paslaugos" routerLinkActive="active">Teikiamos paslaugos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/musu-darbai" routerLinkActive="active">Musu darbai</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/kontaktai" routerLinkActive="active">Kontaktai</a>
          </li>
        </ul>
        <span class="navbar-text">
          Musu imones sukis. AAA!!!
        </span>
      </div>
    </div>
  </nav>

  <div class="row">
    <div class="col-md-12">
      <router-outlet></router-outlet>

      <!-- <app-main></app-main>
      <app-apie-imone></app-apie-imone>
      <app-teikiamos-paslaugos></app-teikiamos-paslaugos>
      <app-musu-darbai></app-musu-darbai>
      <app-kontaktai></app-kontaktai> -->
  </div>
  </div>




</div>